
*.vsidx
*.bin
*.bin
*.vsidx
Backend/API/ProyectoGestionInventario/.vs/ProyectoGestionInventario/FileContentIndex/217e6a51-baa6-4ed3-9119-09205a54e5f0.vsidx
Backend/API/ProyectoGestionInventario/.vs/ProyectoGestionInventario/FileContentIndex/217e6a51-baa6-4ed3-9119-09205a54e5f0.vsidx
*.vsidx
